.container_home_slide{
    width:100%;
    padding-right: 0px;
    padding-left: 0px;

    .col-lg-12{
        padding-left: 0;
        padding-right: 0;
    }

}
.galeria_home_slide{
    padding-right: 0;
    padding-left: 0;
}
.scrolling-wrapper-flexbox {
    .galeria_home_card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  }

.scrolling-wrapper {
    .galeria_home_card {
      display: inline-block;
    }
}

.galeria_home_card{ 
    position: relative;
    overflow: hidden;
    width: 550px;
    background: rgb(53, 53, 53);
    color: white;
    white-space: initial;      
    transition: all 400ms ease;     
        div{
            position: absolute;
            width: 100%;
            font-size: 21px;
            bottom: 0px;
            padding: 15px;
        }
        img{
            opacity: 0.8;
        }
        img:hover{
            transform: none;
        }
        a{
            text-decoration: none;
            color: white;
        }
}


.galeria_home_scroll_posts{
    height: 500px;
    span{
        line-height: 380px;
    }
}
.galeria_home{
    h4{
        font-size: 24px;
        color: white;
    }
    p{
        font-size: 16px;
        height: 65px;
        overflow: hidden;
    }
    button{
        padding: 10px 15px 10px 10px;
        background-color: transparent;
        border: 3px solid white;
        font-size: 16px;
        transition: all 400ms ease-out;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}
.scroll_arrow_home{
    span{
        color: white;
    }
}
.galerias_home_estilos{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 100px;
    padding-top: 24px;
    padding-bottom: 40px;
    button{
        width: 100%;
        margin-bottom: 10px;
        color: black;
        margin-top: 10px;
        background-color: transparent;
        padding-top: 40px;
        padding-bottom: 40px;
        border: 1px solid;
        transition: all 400ms ease-out;
        font-weight: bolder;
        font-size: 1.5em;
        &:hover{
            background-color: #ec008c;
            color: white;
        }
    }
}
.galerias_home_eventos{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.galerias_home_arteref{
    margin-bottom: 40px;
    .col-lg-8, .col-lg-4{
        padding-right: 0px;
        padding-left: 0px;
    }
    img{
        width: 100%;
    }
    .galerias_home_post_info{
        bottom: 0;
        width: 100%;
        position: absolute;
        padding: 25px;
        color: white;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 34%, rgba(0,0,0,0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 34%,rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 34%,rgba(0,0,0,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
        h4{
            color: white;
        }
    }
}