$cor_principal_custom_content: rgb(0, 0, 0);
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    .card {
      display: inline-block;
    }
    .post_card_ver_mais{
        display: inline-block;
       }
  }
  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
    .post_card_ver_mais{
     flex: 0 0 auto;
     margin-right: 3px;
    }
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: 280px;
    background: rgb(53, 53, 53);
    color: white;
    white-space: initial;
        div{
            position: absolute;
            width: 100%;
            font-family: sans-serif;
            font-size: 21px;
            bottom: 0px;
            padding: 8px;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }
        img{
            transition: all 0.4s;
        }
        img:hover{
            transform: scale(1.1);
        }
  }
  
  .post_card_ver_mais{
        position: relative;
        width: 240px;
        padding-left: 14px;
        top: 24px;
        div{
            position: absolute;
            bottom: 100px;
            padding: 8px;
        }
    }

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;

    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

.scroll_posts{
    height: 220px;
    margin-bottom: 100px;
    margin-top: 75px;
    span{
        clear: both;
        margin: 15px 0;
        font-size: 1.24em;
        background-color: $cor_principal_custom_content;;
        color: white;
        padding: 5px;
    }

    .scroll_prev{
        float: left;
    }

    .scroll_next{
        float: right;
    }
    .scroll_container{
        display: flex;
        margin: 6px;
        .scroll_button{
            button{
                height: 100%;
                margin: 6px;
                border: none;
                color: black;
                background-color: white;
            }
        }
    }
}
.posts_grid{
    display: flex;
}
.arteref_scroll_active{
    font-size: 1.1em;
}
@media (max-width: 540px){
    .scroll_posts{
        margin: 0px;
        margin-bottom: 60px;
    }
}