
.galeria_trabalhos_grid_image{
    box-sizing: border-box;
}
 
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
    
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 10px 10px;
    margin: 20px;
    transition: all 400ms ease-out;
    &:hover{
        -webkit-box-shadow: -1px 5px 33px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: -1px 5px 33px 0px rgba(0,0,0,0.16);
        box-shadow: -1px 5px 33px 0px rgba(0,0,0,0.16);
    }   
}
    
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
    
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
.column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
 }

 .galeria_trabalhos_grid_image{
    margin-bottom: 25px;
    margin-top: 25px;
    div{
        cursor: pointer;
        overflow: hidden;
    }
    a{
        text-decoration: none;
        color: #b1b1b1;
        transition: all 400ms ease-out;
    }
    a:hover{
        text-decoration: none;
        color: #ea028c;
    }
    img{
        background-color: rgba(226, 226, 226, 0.856);
        width: 100%;
        height: auto;
        transition: all 0.4s;
    }
    img:hover{
        transform: scale(1.1);
    }
    p{
        font-size: 12px;
        margin-bottom: 2px;
    }

}