.galeria_conteudo_titulo{
    border-bottom: solid 2px black;
    padding-bottom: 3px;
}
.galeria_conteudo_estilos{
   ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
   }
   li{
        border-radius: 12px;
        margin-top: 6px;
        padding: 6px;
        background-color: #ec008c;
        cursor: pointer;
        color: white;
        display: inline-block;
        transition: all 0.4s;
   }
   li:hover{
    transform: scale(1.1);
    }
}
.galeria_artista_logo{
    text-align: center;
}