$rosa : #ec008c;
.galeria_nav_menu{
    color: white;
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 24px!important;
    display: inline-block;
    a{
        text-decoration: none;
        color: white;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.42, 2.04);
        transition-delay: 0s;
    }
    a:hover{
        text-decoration: none;
        color: white;
        border-bottom: 2px solid $rosa;
    }
    a:active, a:visited{
        text-decoration: none;
        color: white;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            span{
                color: $rosa;
            }
        }
    }
}
.galeria_link_active{
    border-bottom: 2px solid $rosa;
}
.galeria_artista_titulo{
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    text-align: end;
}

